@model IEnumerable<News>
<div class="row d-flex align-content-center">
    <a asp-action="Create" class="btn btn-success w-25 mb-5 col-2"> Create</a> <span class="text-secondary col-2">------ Create Here!!!</span>
</div>

@foreach (var item in Model)
{
    <div class="row border">
        <div class="col-2 border"> @item.NewsName</div>
        <div class="col-2 border"> @item.NewsDescription</div>
        <div class="col-2 border"> @item.NewsDate</div>
        <div class="col-2 border">
            <img src="/img/@item.NewsImgName"alt="@item.NewsImgName" width="200" height="200" style="object-fit:contain"> 
        </div>
        <div class="col-2"> 
            <a asp-action="Edit" asp-route-id="@item.NewsId" class="btn btn-warning border" >Edit </a>
        </div>
        <div class="col-2">
            <a asp-action="Delete" asp-route-id="@item.NewsId" class="btn btn-danger border">Delete </a>
        </div>
    </div>
}